// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('http://db.onlinewebfonts.com/c/5796fb1b44e3c87b7f3d5ff57994f7b3?family=Druk+Wide+Web+Medium');


@import url('http://db.onlinewebfonts.com/c/4077fc58b77b7447130fb9084b7afac7?family=Maison+Neue+Red+Bull+Demi');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1{
  text-align: center;
  font-family: 'Druk Wide Web Medium';
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22.4px;
  margin-left: 11px;
  font-weight: 900;
  margin-top: 40px;
  color: black;
}

h3{
  text-align: center;
  font-family: 'Druk Wide Web Medium';
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22.4px;
  margin-left: 11px;
  font-weight: 900;
  margin-top: 40px;
  color: $teal;
  border-bottom: 1px solid white;
}

.SinglePostItem p{
  text-align: center;
  font-family: 'Maison Neue Red Bull Demi';
  font-size: 1.4em;
  color: white;
}

.postitem{
  text-align: center;
  font-family: 'Druk Wide Web Medium';
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22.4px;
  margin-left: 11px;
  font-weight: 900;
  margin-top: 40px;
  color: $teal;
}

.postitem:hover{
  color: $teal;
  text-decoration: none;
}

.SinglePostItem{
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.SinglePostIt p{
  text-align: left;
  font-family: 'Maison Neue Red Bull Demi';
  font-size: 1.4em;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.PostSingle{
  background-image: url("https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_1280.jpg");
  background-size: cover;
  height: 100%;
}